<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
    <link rel="stylesheet" href="//use.fontawesome.com/releases/v5.0.7/css/all.css">
    <link rel="shortcut icon" type="image/x-icon" href="assets/img/favicon.ico">
    <link rel="stylesheet" type="text/css" href="/styles/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="/styles/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="/styles/style.css">
    <title>Edit Profile</title>
    <!--<style>
        input{
            display: block;
            margin-bottom: 8px;
            width: 500px;
        }
    </style>
    <script>
        const url = "/doctor/account/information";
        fetch(url)
        .then(data=>{return data.json()})
        .then(res=>{
            let firstName = document.getElementById("first_name");
            let lastName = document.getElementById("last_name");
            let specialty = document.getElementById("specialty");
            let email = document.getElementById("email");
            let wilayaInput = document.getElementById("wilaya_inp");
            let address = document.getElementById("address_inp");
            let contact = document.getElementById("contact_inp");
            let avgTime = document.getElementById("avg_inp");
            let workingStatus = document.getElementById("status_inp");
            let workingDaysContainer = document.getElementById("working_days_ul");
            firstName.innerHTML=res.first_name;
            lastName.innerHTML = res.last_name;
            specialty.innerHTML = res.specialty;
            email.innerHTML = res.email;
            wilayaInput.value = res.wilaya;
            address.value = res.address;
            contact.value = res.contact_num;
            avgTime.value = res.avg_time;
            workingStatus.value = res.working_status;
            res.working_days.forEach(day => {
                var li = document.createElement("li");
                var p1 = document.createElement("p");
                var p2 = document.createElement("input");
                var p3 = document.createElement("input");
                var updateBtn = document.createElement("button");
                var deleteBtn = document.createElement("button");
                p1.innerHTML = day.day;
                p2.value = day.start;
                p3.value = day.finish;
                updateBtn.innerHTML = "Update";
                deleteBtn.innerHTML = "delete";
                deleteBtn.onclick = ()=>{
                    console.log("delete "+day.day);
                };
                updateBtn.onclick = ()=>{
                    console.log("update "+day.day);
                };
                li.appendChild(p1);
                li.appendChild(p2);
                li.appendChild(p3);
                li.appendChild(updateBtn);
                li.appendChild(deleteBtn);
                workingDaysContainer.appendChild(li);
            });
            
        });
        function updateClinic(){
            console.log("update clinic on click");
            let wilaya = document.getElementById("wilaya_inp").value;
            let address = document.getElementById("address_inp").value;
            let contact_num = document.getElementById("contact_inp").value;
            let avg_time = document.getElementById("avg_inp").value;
            let working_status = document.getElementById("status_inp").value;
            var data={
                wilaya,
                address,
                contact_num,
                avg_time,
                working_status
            }
            var param = {
                headers:{
                    "content-type":"application/json; charset=UTF-8"
                },
                body:data,
                method:"POST"
            };
            fetch("/doctor/clinic",param)
            .then(data=>{return data.json})
            .then(res=>{
                console.log(res);
            });
        }

    </script>-->
</head>
<body>
    <div class="main-wrapper">
        <div class="header">
			<div class="header-left">
				<a href="index-2.html" class="logo">
					<img src="/assets/img/logo.png" width="35" height="35" alt=""> <span>Preclinic</span>
				</a>
			</div>
			<a id="toggle_btn" href="javascript:void(0);"><i class="fa fa-bars"></i></a>
            <a id="mobile_btn" class="mobile_btn float-left" href="#sidebar"><i class="fa fa-bars"></i></a>
            <ul class="nav user-menu float-right">
                <li class="nav-item dropdown has-arrow">
                    <a href="#" class="dropdown-toggle nav-link user-link" data-toggle="dropdown">
                        <span class="user-img"><img class="rounded-circle" src="/assets/img/user.jpg" width="40" alt="Admin">
							<span class="status online"></span></span>
                    </a>
					<div class="dropdown-menu">
						<a class="dropdown-item" href="/doctor/account">My Profile</a>
						<a class="dropdown-item" href="/doctor/account/edit">Edit Profile</a>
						<a class="dropdown-item" href="#">Settings</a>
						<a class="dropdown-item" href="/logout">Logout</a>
					</div>
                </li>
            </ul>
            <div class="dropdown mobile-user-menu float-right">
                <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown" aria-expanded="false"><i class="fa fa-ellipsis-v"></i></a>
                <div class="dropdown-menu dropdown-menu-right">
                    <a class="dropdown-item" href="/doctor/account">My Profile</a>
                    <a class="dropdown-item" href="#">Edit Profile</a>
                    <a class="dropdown-item" href="#">Settings</a>
                    <a class="dropdown-item" href="/logout">Logout</a>
                </div>
            </div>
        </div>
        <div class="sidebar" id="sidebar">
            <div class="sidebar-inner slimscroll">
                <div id="sidebar-menu" class="sidebar-menu">
                    <ul>
                        <li class="menu-title">Main</li>
                        <li>
                            <a href="#"><i class="fa fa-dashboard"></i> <span>Dashboard</span></a>
                        </li>
                        <li>
                            <a href="#"><i class="fa fa-wheelchair"></i> <span>Patients</span></a>
                        </li>
                        <li>
                            <a href="#"><i class="fa fa-calendar"></i> <span>Appointments</span></a>
                        </li>
                        <li>
                            <a href="/doctor/schedule"><i class="fa fa-calendar-check-o"></i> <span>Doctor Schedule</span></a>
                        </li>
						<li class="submenu">
							<a href="#"><i class="fa fa-user"></i> <span> Secraitaire </span> <span class="menu-arrow"></span></a>
							<ul style="display: none;">
								<li><a href="#">subOption 1</a></li>
								<li><a href="#">subOption 2</a></li>
								<li><a href="#">subOption 3</a></li>
							</ul>
						</li>
						
                        <li>
                            <a href="settings.html"><i class="fa fa-cog"></i> <span>Settings</span></a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="page-wrapper">
            <div class="content">
                <div class="row">
                    <div class="col-sm-12">
                        <h4 class="page-title">Edit Profile</h4>
                    </div>
                </div>
                <form action="/doctor/account/edit" method="post">
                    <div class="card-box">
                        <h3 class="card-title">Basic Informations</h3>
                        <div class="row">
                            <div class="col-md-12">
                                <div class="profile-img-wrap">
                                    <img class="inline-block" src="/assets/img/user.jpg" alt="user">
                                    <div class="fileupload btn">
                                        <span class="btn-text">edit</span>
                                        <input class="upload" type="file">
                                    </div>
                                </div>
                                <div class="profile-basic">
                                    <div class="row">
                                        <div class="col-md-6">
                                            <div class="form-group form-focus">
                                                <label class="focus-label">First Name</label>
                                                <input type="text" class="form-control floating" value="<%= first_name %>">
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="form-group form-focus">
                                                <label class="focus-label">Last Name</label>
                                                <input type="text" class="form-control floating" value="<%= last_name %>">
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="form-group form-focus">
                                                <label class="focus-label">Birth Date</label>
                                                <div class="cal-icon">
                                                    <input class="form-control floating" type="text" value="<%= birth_date %>">
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="form-group form-focus">
                                                <label class="focus-label">Bio</label>
                                                <input type="text" class="form-control floating" value="say something about yourself">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="card-box">
                        <h3 class="card-title">Clinic Informations</h3>
                        <div class="row">
                            <div class="col-md-12">
                                <div class="form-group form-focus">
                                    <label class="focus-label">Clinic Address</label>
                                    <input name="address" type="text" class="form-control floating" value="<%= address %>">
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group form-focus">
                                    <label class="focus-label">Wilaya</label>
                                    <input name="wilaya" type="text" class="form-control floating" value="<%= wilaya %>">
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group form-focus">
                                    <label class="focus-label">Contact Number</label>
                                    <input name="contact_num" type="text" class="form-control floating" value="<%= contact_num %>">
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group form-focus">
                                    <label class="focus-label">Average Session Time</label>
                                    <input name="avg_time" type="text" class="form-control floating" value="<%= avg_time %>">
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group form-focus select-focus">
                                    <label class="focus-label">Working status</label>
                                    <select name="working_status" class="select form-control floating">
                                        <% if(working_status === 1){ %>
                                            <option value="1" selected>Active</option>
                                            <option value="0">Inactive</option>
                                        <% }else if(working_status === 0){ %>
                                            <option value="1" >Active</option>
                                            <option value="0" selected>Inactive</option>
                                        <% } %>
                                        
                                        
                                    </select>
                                </div>
                            </div>
                        </div>
                        <div class="text-center m-t-20">
                            <button class="btn btn-primary submit-btn" type="submit">Save</button>
                        </div>
                    </div>
                </form>

                <form action="/doctor/password" method="post">
                   
                    <div class="card-box">
                        <h3 class="card-title">Reset Password</h3>
                        <div class="row">
                            
                            <div class="col-md-6">
                                <div class="form-group form-focus">
                                    <label class="focus-label">Old Password</label>
									<input name="old_pass" type="text" class="form-control floating" value="">
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group form-focus">
                                    <label class="focus-label">New Password</label>
									<input name="new_pass" type="text" class="form-control floating" value="">
                                </div>
                            </div>
                        </div>
                        <div class="text-left m-t-10">
                            <button class="btn btn-primary submit-btn" type="submit">Reset</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <script src="/scripts/jquery-3.2.1.min.js"></script>
	<script src="/scripts/popper.min.js"></script>
    <script src="/scripts/bootstrap.min.js"></script>
    <script src="/scripts/jquery.slimscroll.js"></script>
    <script src="/scripts/app.js"></script>
    <script src="/scripts/select2.min.js"></script>
    <script src="/scripts/moment.min.js"></script>
    <script src="/scripts/bootstrap-datetimepicker.min.js"></script>
</body>
</html>