<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <table>
        <thead>
            <tr>
                <th>Id</th>
                <th>First name</th>
                <th>Last name</th>
                <th>Specialty</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
            <% doctors.forEach(doc=> { %>
                <tr>
                    <td> <%= doc.id %> </td>
                    <td> <%= doc.first_name %> </td>
                    <td> <%= doc.last_name %> </td>
                    <td> <%= doc.specialty %> </td>
                    <td> <a href="/doctor/profile/<%= doc.id %>">Visit</a> </td>
                </tr>
            <% }); %>
        </tbody>
    </table>
    
</body>
</html>